﻿.member-sign-in-container {
    position: absolute;
    top: 22%;
    left: 1%;
}
#sign-up-input-field {
    height:30px;
    font-size:15pt;
    padding: 5px;
    max-width: 220px;
}
.register-form-container {
    position: absolute;
    border-style: ridge;
    top:25%;
    left:25%;
    width: 50%;
    height: 70%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.register-form-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #000000;
    text-align: center;
    padding-top: 1%;
}

#registration-form {
    list-style: none;
    position:absolute;
    top: 10%;
    left: 5%;
}

#email-format-error {
    position: absolute;
	font-size: small;
    padding-left: 0;
    margin-top: -20px;
    text-align: justify;
    color: #FF0000;
}

.error {
    box-shadow: 0 0 3px #CC0000; 
    margin: 10px;
}

#profile_image {
    position:absolute;
    padding-left: 2%;
    top: 81%;
}

.profile-pic {
    background-image:url('assets/profile-picture-default.png');
    background-size: cover;
    width:100px;
    height:100px;
    border: 1px solid #000000;
}

.sign-up-pic {
    background-image:url('assets/sign-up-art-0.jpg');
    background-size: cover;
    width:512px;
    height:512px;
    position:fixed;
    top: 30%;
    left: 48%;
    border-radius: 4px 4px 4px 4px;
}

.sign-up-submit-button-container {
    position:absolute;
    top: 93%;
    left: 40%;
}

.sign-up-submit-button {
    background-color: #6902eb;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    color: #ffffff;
    width:100px;
    height:40px;
    padding-top: 3%;
    padding-bottom: 1%;
    border-style: none;
}

.sign-up-submit-button:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #3b0086;
    cursor: pointer;
}

#sign-up-submit-button:active {
    background-color: #6902eb;
}

.sign-up-submit-button:disabled {
    background-color: #808080;
    cursor:default;
}

.terms-and-conditions {
    margin-top: -25px;
}

.terms-backdrop {
    position:fixed;
    background-color: #000000;
    opacity: 0.5;
    top: -50px;
    left: -50px;
    width: 200%;
    height: 200%;
    z-index: 3000;
}

.terms-main-window {
    position: absolute;
    border-style: none;
    top:18%;
    left:22%;
    width: 55%;
    height: 70%;
    overflow: auto;
    z-index: 4000;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
}

.terms-title {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    text-align: center;
    padding-top: 2%;
}

.terms-close-button-container {
    position:absolute;
    top: 90%;
    left: 43%;
}

.terms-close-button {
    background-color: #6902eb;
    border-radius: 4px 4px 4px 4px;
    width:100px;
    height:40px;
    padding-top: 3%;
    padding-bottom: 1%;
    border-style: none;
    color: #ffffff;
    text-align: center;
}

.terms-close-button:hover {
     -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #3b0086;
    cursor: pointer;
}

.terms-close-button:active {
    background-color: #6902eb;
    cursor: pointer;
}

.terms-text-message-container {
    position: absolute;
    border-style: groove;
    top: 15%;
    left: 7%;
    width: 80%;
    height: 65%;
    overflow: auto;
    z-index: 4000;
    background-color: #ffffff;
    text-align: justify;
    padding: 2%;
    font-size: 24px;
}
#password-help {
    position: absolute;
	font-size: small;
    margin-top: -20px;
    text-align: justify;
    color: #808080;
}

#password-error{
    position: absolute;
	font-size: small;
    margin-top: -20px;
    text-align: justify;
    color: #FF0000;
}

#match-error{
    position: absolute;
	font-size: small;
    padding-left: 145px;
    margin-top: -20px;
    text-align: justify;
    color: #FF0000;
}