﻿<div class="sign-up-main-page">
    <div class="member-sign-in-container">
        <h2>Already a member? <a href="#signIn" onclick="KnightsOfAether.Home.OnSignInClicked()">Sign In</a></h2>
    </div>
    <div class="register-form-container">
        <div class="register-form-title">
            <u>New Member Form</u>
        </div>
        <div class="sign-up-pic"></div>
        <form id="registration-form">
            <h3>
                First Name <input type="text" class="fname" name="first-name" id="sign-up-input-field" maxlength="20"><br /><br />
                Last Name <input type="text" class="lname" name="1ast-name" id="sign-up-input-field" maxlength="20"><br /><br />
                E-Mail <input type="email" class="email" name="e-mail" id="sign-up-input-field"><br /><br />
                <span id="email-format-error" hidden>**Error: wrong e-mail format!</span>
                User Name <input type="text" class="uName" name="user-name" id="sign-up-input-field" maxlength="20"><br /><br />
                Password <input type="password" class="passWord" name="password" id="sign-up-input-field" maxlength="20"><br /><br />
                <span id="password-help">Password must be at least 6 characters long with at least one uppercase letter, one special character (!,@,#,$,%) and a number.</span>
                <span id="password-error" hidden>**ERROR: Make sure your password is at least six characters long with at least one number, a special character (!,@,#,$,%) and an uppercase letter.</span><br /><br />
                Retype Password <input class="reTypePassWord" type="password" name="retype-password" id="sign-up-input-field" maxlength="20"><br /><br />
                <span id="match-error" hidden>**Error: Passwords do not match!</span>
            </h3>
            
            <div class="profile-pic-container" style="margin-bottom: 24%;">
                <img class="profile-pic" />
                <input type="file" id="profile_image" accept="image/jpeg" />
            </div>
            <div class="terms-and-conditions">
                <input type="checkbox" name="terms" class="terms-agree"> I agree to the <a href="#terms" onclick="UserAccessPages.SignUp.ShowTermsAndConditions()" class="term-window">Terms & Conditions</a>
            </div>
        </form>
        <div class="sign-up-submit-button-container">
            <button class="sign-up-submit-button" onclick="UserAccessPages.SignUp.onSubmitButtonClicked()" disabled>SUBMIT</button>
        </div>
    </div>
</div>
<div class="terms-container" hidden>
    <div class="terms-backdrop"></div>
    <div class="terms-main-window">
        <div class="terms-title"><h1>Terms & Conditions</h1></div>
        <div class="terms-text-message-container">
            Lorem ipsum dolor sit amet, vel adipiscing concludaturque no, cu petentium iracundia vis. Ad detracto adipisci sit, an erant habemus ponderum vix, his ne eius fierent accusata. Viderer habemus eam ut. Wisi omnes ne sit. Hinc labores id pro, nulla option dolores eos te, et his urbanitas conceptam. Ut cum dicunt consetetur, mel dolor nullam sensibus an. Amet eros an pro, ea quo omnis quaerendum. Soleat animal id vix. Facer melius duo ea, enim causae necessitatibus in mel, prima apeirian petentium id mea. Dicat inani accusam cu per, duo id modus bonorum, harum exerci no est. Vel ei admodum patrioque, qui cu dico ubique. Ei ius omnis prodesset eloquentiam, primis aperiam omnesque has te. At pro minim mollis splendide. Stet scripserit pri in, eius lorem pertinacia ius ut. Mei omittantur complectitur contentiones id, cu facer honestatis his. Vel essent detracto ut. Ex saperet adolescens vim, ea vide aeque tincidunt pri. Nam dicam persequeris ut. Sea affert discere at, nonumes contentiones quo an, vidit appetere eu pro. Tale dissentiunt ad mei. Homero commodo vim ad, consulatu complectitur an vel, diam vitae legere no sea. Animal quaerendum eu vis, tota debitis perfecto sea ad. Nam hinc principes an, qui id congue nemore. Habeo quodsi consetetur id ius, atqui deleniti nam eu, mei in dico pertinax.
        </div>
        <div class="terms-close-button-container">
            <button class="terms-close-button" onclick="UserAccessPages.SignUp.HideTermsAndConditions()">CLOSE</button>
        </div>
    </div>
</div>
<script>

    $(function () {
        var signUpInstance = new UserAccessPages.SignUp();
        signUpInstance.CheckSignUpInfo();

        $('#registration-form').find('.profile-pic-container').find('#profile_image').change(function (e) {

            var newImg = URL.createObjectURL(e.target.files[0]);
            var ext = this.value.match(/\.(.+)$/)[1];
            var defImg = './Source/UserAccess/SignUp/assets/profile-picture-default.png';
            var container = $('#registration-form').find('.profile-pic-container').find('.profile-pic');

            switch (ext) {
                case 'png':
                case 'gif':
                    container.attr('src', defImg);
                    this.value = '';
                    alert('This is not an allowed file type.');
                    break;
                default:
                    container.attr('src', newImg);
            }
        });
    });
</script>
