﻿<div class="sign-in-form-container">
    <div class="sign-in-form-header">
        <u>Member's Sign In Form</u>
    </div>        
    <form id="sign-in-form">        
        <h2>User Name </h2><input name="UserName" class="userName" type="text" id="sign-in-input-field" maxlength="20" /><br /><br />
        <h2>Password </h2><input  name="PassWord" class="password" type="password" id="sign-in-input-field" maxlength="20"/><br />
        <p>Forgot your login information? <a href="#forgot" onclick="KnightsOfAether.SignIn.ShowUserRecoveryWindow()">Click here</a> </p> <br /><br />
        <p>Are you new to the site? <a href="#signin" onclick="KnightsOfAether.Home.OnSignUpClicked()">Click here</a> </p> <br /><br />
    </form>
    <button type="submit" id="sign-in-button" disabled>Sign In</button>
</div>
<script>
    $(function () {
        var signIn = new KnightsOfAether.SignIn();
        signIn.Update();
    });
</script>
<div class="forgot-user-container" hidden>
    <div class="forgot-user-backdrop"></div>
    <div class="forgot-user-main-window">
        <div class="forgot-user-title"><h1>Please enter the following information</h1></div>
        <form id="recovery-email-form">
            <h3>First Name </h3><input type="text" id="sign-in-input-field" maxlength="20" /> <br /><br />
            <h3>Last Name </h3><input type="text" id="sign-in-input-field" maxlength="20"/> <br /><br />
            <h3>E-Mail </h3><input type="email"  id="sign-in-input-field" maxlength="30" /> <br />
        </form>
        <div class="forgot-user-close-button-container">
            <button class="forgot-user-submit-button" onclick="KnightsOfAether.SignIn.SendVerificationEmail()" disabled>SEND</button>
            <button class="forgot-user-close-button" onclick="KnightsOfAether.SignIn.HideUserRecoveryWindow()">CLOSE</button>
        </div>
    </div>
</div>
