﻿.sign-in-form-container {
    position: absolute;
    border-style: ridge;
    top:30%;
    left:25%;
    width: 50%;
    height: 50%;
    background-color: #ffffff;
     -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.sign-in-form-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #000000;
    text-align: center;
    padding-top: 1%;
}

#sign-in-form {
    position:fixed;
    top:41%;
    left:40%;
}

#sign-in-input-field {
    height:49px;
    font-size:25pt;
    padding-left: 5px;
}

#sign-in-button {
    position: absolute;
    width: 150px;
    height: 60px;
    top: 80%;
    left:42%;
    background-color: #6902eb;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    color: #ffffff;
    border-style: none;
    font-size: 18px;
}

#sign-in-button:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #3b0086;
    cursor: pointer;
}

#sign-in-button:active {
    background-color: #6902eb;
}

#sign-in-button:disabled {
    background-color: #808080;
    cursor:default;
}

.forgot-user-backdrop {
    position:fixed;
    background-color: #000000;
    opacity: 0.5;
    top: -50px;
    left: -50px;
    width: 200%;
    height: 200%;
    z-index: 3000;
}

.forgot-user-main-window {
    position: absolute;
    border-style: none;
    top:30%;
    left:30%;
    width: 40%;
    height: 50%;
    overflow: auto;
    z-index: 4000;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
}

.forgot-user-title {
    position:absolute;
    left: 25%;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    text-align: center;
    padding-top: 2%;
}

.forgot-user-close-button-container {
    position:absolute;
    top: 85%;
    left: 35%;
}

.forgot-user-close-button {
    background-color: #6902eb;
    border-radius: 4px 4px 4px 4px;
    width:100px;
    height:40px;
    padding-top: 3%;
    padding-bottom: 1%;
    border-style: none;
    color: #ffffff;
    text-align: center;
}

.forgot-user-close-button:hover {
     -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #3b0086;
    cursor: pointer;
}

.forgot-user-close-button:active {
    background-color: #6902eb;
    cursor: pointer;
}

.forgot-user-submit-button {
    background-color: #6902eb;
    border-radius: 4px 4px 4px 4px;
    width:100px;
    height:40px;
    padding-top: 3%;
    padding-bottom: 1%;
    border-style: none;
    color: #ffffff;
    text-align: center;
}

.forgot-user-submit-button:hover {
     -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #3b0086;
    cursor: pointer;
}

.forgot-user-submit-button:active {
    background-color: #6902eb;
    cursor: pointer;
}

.forgot-user-submit-button:disabled {
    background-color: #808080;
    cursor: default;
}

#recovery-email-form {
    position: absolute;
    top: 25%;
    left:25%;
}