﻿<ul id="navBar" class="clearfix">
    <li id="menuElements" class="dropdown">
        <a id="menuItems" href="#Quests">Quests</a>
        <div class="dropdown-content">
            <a id="menuItems" href="#" class="menuItemSeparator">The Siege of Norgrad</a>
            <a id="menuItems" href="#" class="menuItemSeparator">Another campaign marching soon...</a>
        </div>
    </li>
    <li id="menuElements" class="dropdown" style="float:right;">
        <a id="menuItems" href="#follow">Follow</a>
        <div class="dropdown-content" style="min-width: 70px;">
            <a id="menuItems" href="http://www.facebook.com" target="_blank" class="facebook"></a>
            <a id="menuItems" href="http://www.twitter.com" target="_blank" class="twitter"></a>
        </div>
    </li>
</ul>
